In [18]:
import pandas as pd
import numpy as np
import math

In [72]:
air=pd.read_csv("C:/Users/Administrator/python/Jupiter notebooks/airquality.csv",sep=",",header=0,encoding="Latin")
air=air.drop('Unnamed: 0',1)
air.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

In [15]:
##1.Fetch the observations for 9 day of June.
air.columns
air[(air.Day==9)&(air.Month==6)]

    Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day
39          40   71.0    291.0  13.8    90      6    9

In [22]:
##2.Find Average temperature for the month of June. 
air[air.Month==6].mean().Temp

79.1

In [24]:
##3.To which day of June has the least temperature
air[air.Month==6].min().Temp

65.0

In [26]:
##4.Find Maximum Ozone value for the month of May
air[air.Month==5].max().Ozone

115.0

In [28]:
##5.Find the count of the missing values in the ozone column of the data set
sum(air.Ozone.isnull())

37

In [32]:
##6.Find out What is the mean of the Ozone column in this dataset
air.Ozone.mean()

42.12931034482759

In [49]:
##7.Find out which month has the highest temperature
air.Temp.max()
air[air.Temp==97].Month

119    8
Name: Month, dtype: int64

In [55]:
##8.Find out the wind value when the Ozone becomes maximum
air.Ozone.max()
air[air.Ozone==168.0].Wind

116    3.4
Name: Wind, dtype: float64

In [58]:
##9.Find out the months for which the airquality observations have been carried out
air.Month.unique()

array([5, 6, 7, 8, 9], dtype=int64)

In [62]:
##10.Find the Ozone and temperature values for the 1st observation of every month.
air[air.Day==1][['Month','Ozone','Temp']]

     Month  Ozone  Temp
0        5   41.0    67
31       6    NaN    78
61       7  135.0    84
92       8   39.0    81
123      9   96.0    91

In [68]:
##11.Which day of which month corresponds to the least Ozone Value. 
air[['Day','Ozone']][air.Ozone==air.Ozone.min()]

    Day  Ozone
20   21    1.0

In [73]:
##12.Convert the temperature for all the observations to Centigrade scale
air['Centrigrade']=round((air.Temp-32)*5/9,2)
air.head()

   Ozone  Solar.R  Wind  Temp  Month  Day  Centrigrade
0   41.0    190.0   7.4    67      5    1        19.44
1   36.0    118.0   8.0    72      5    2        22.22
2   12.0    149.0  12.6    74      5    3        23.33
3   18.0    313.0  11.5    62      5    4        16.67
4    NaN      NaN  14.3    56      5    5        13.33